@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #817e87;
  background: #151518;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
*:not(span) {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.sub-title {
  @apply text-red-500 font-semibold text-lg;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title {
  @apply text-white font-extrabold text-4xl;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  @apply py-4 px-8 !important;
}